@media (max-width: 768px) {
	.container {
		flex-direction: column; /* Stack vertically */
	}
	.leftSide {
		position: relative;
		top: 8rem; /* Push this text container more down */
	}

	.rightSide {
		position: relative;
		top: 8rem; /* Push this text container more down */
	}
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; /* Change to your desired vertical alignment */
}

.button:hover {
	transform: scale(1.1);
}

.button {
	display: flex;
	flex-direction: column;
	background: none;
	border: none;
	padding: 0;
	margin-bottom: 3vw; /* Adjust the spacing between buttons */
	cursor: pointer;
}

.buttonImage {
	width: 18vw; /* Adjust the width as needed */
	height: 3vw; /* Adjust the height as needed */

	transform: skew(
		-15deg
	); /* Apply a skew transform to create the slanting effect */
}

.buttonText {
	margin-top: -2.5vw; /* Adjust the spacing between the image and text */
	margin-left: 6vw; /* Adjust the left margin to align the text to the left */
	font-size: 1.5vw; /* Adjust the font size as needed */
	color: #000000; /* Adjust the text color */
	font-weight: 300;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Change the font family to your desired font */
	white-space: nowrap; /* Prevent line breaks in the text */
	overflow: hidden; /* Hide any overflow of the text */
	text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
	text-align: left; /* Align the text to the left */
	z-index: 1;
}

.icon1 {
	width: 40px; /* Adjust the width as needed */
	height: 40px; /* Adjust the height as needed */
}
