@import "tailwindcss";

#root {
	margin: 0 auto;
}

.footer {
	background-color: #333; /* Replace #333 with your desired background color */
	color: #fff; /* Set text color to white (or any contrasting color) */
	padding: 10px; /* Add some padding to create spacing around the content */
	text-align: center; /* Center the content inside the footer */
	z-index: 100;
	bottom: 0;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
